@CHARSET "ISO-8859-1";
	body
		{ 
			background-color: #f1f1f1;  
		}
		.head
		{		
			background-color: rgb(29, 176, 189); 
			height: 100px;
			width: 100%;
			margin-top: 40px;
		}
		.head p
		{
			font-size: 30px;
			margin-left: 60px;
            padding: 24px;
		}
		.bt-home
		{
			width: 60%;
			height: 120px;
			background-color: white;
			font-size: 20px;
			color: rgb(29, 176, 189); 
			border:none;
		}
    .bt-home a
    {
      text-decoration: none;
      color: rgb(29, 176, 189); 
    }