@CHARSET "ISO-8859-1";
      body
        {
        	min-height: 100vh;
		    background-color: rgb(29, 176, 189);     	
        }
        .login-form
        {
        	width: 450px;
        	height: 550px;
        	background-color: #f1f1f1;
        	border-radius: 10px;
        	padding: 80px,40px;
        	position: absolute;
    	    left:50%;
    	    top:50%;
    	    transform: translate(-50%,-50%);
        }
        h1
        {
        	text-align: center;
            margin-top: 40px;
            color:rgb(29, 176, 189);   
        }
        #user
        {
        	width: 80%;
        	margin-left: 36px;
        }
         #Password
        {
        	width: 80%;
        	margin-left: 36px;
        }
        .label-text
        {
        	margin-left: 38px;
        	font-size: 18px;
            color: rgb(29, 176, 189);   
        }
       .btn
        {
            margin-left: 40px;
     	    width: 40%;
     	    padding: 5px,10px;
     	    margin-top: -7px;
     	    background-color: rgb(29, 176, 189);      
     	    color: white	
        }

        .btnback
        {
            margin-left: 10px;
     	    width: 35%;
     	    padding: 5px,10px;
     	    margin-top: 20px;
     	    background-color: rgb(29, 176, 189);      
     	    color: white	
        }
        .btnback a{
        	text-decoration: none;
            color: white;
        }