@CHARSET "ISO-8859-1";
	body
		{ 
			background-color: #f1f1f1;  
		}
		.head
		{		
			background-color: rgb(29, 176, 189); 
			height: 100px;
			width: 100%;
			margin-top: 40px;
		}
		.head p
		{
			font-size: 30px;
			margin-left: 100px;
			top:80px;
		}
		.bt-home
		{
			width: 65%;
			height: 120px;
			text-decoration: none;
			background-color: white;
			font-size: 25px;
			color: rgb(29, 176, 189); 
			border:none;
		}
    .bt-home a
    {
      color: rgb(29, 176, 189); 
      text-decoration: none;
    }